<div class="todo {{((todo.completed ? 'done' : ''))}}">
    <div class="id">{{id+1}}</div>
    <div class="content">{{todo.content}}</div>
    <button class="delete" (click)="deleteTodo(id)">DELETE</button>
</div>