.todo
    display: flex
    justify-content: center
    align-items: center
    padding: 10px 15px
    margin: 5px
    background-color: #FFF
    border: 1px solid #DDD
    .id
        flex: 1 1 50px
    .delete
        flex: 1 1 100px
        margin: 5px
        padding: 10px 15px
        appearance: none
        border: none
        background-color: #798897
        color: white
    .content
        flex: 1 1 100%
        overflow: auto
        max-height: 75px

.done
    background-color: #9dffaa8f
    border: none
    padding: 5px 15px
