.todos
    width: 100%
    height: 85%
    background-color: #AEBDCD
    overflow: auto
    text-align: center
    .all
        height: 30px
        background-color: #f5f5f5
        .toggle
            opacity: 0.3

        button
            background-color: #FFF4F2
            width: 100%
            height: 100%
            appearance: none
            border: none
            letter-spacing: 1.5px

        button:hover
            font-size: 18px
    form
        position: sticky
        top: 0
        z-index: 100
        display: flex
        height: 35px
        box-shadow: 0px 15px 10px -15px #111
        .todo-input
            flex-grow: 3
            appearance: none
            border: none
            outline: none
            padding: 10px 15px
            overflow: hidden
        .todo-submit
            flex-grow: 1
            appearance: none
            border: none
            background-color: #f5aba4f1
            color: white
            font-size: 16px
