<div class="todos">
    <div class="all">
        <button class="{{ (all ? '' : 'toggle') }}" (click)="toggleAll() ">All todos</button>
    </div>
    <form (submit)=" addTodo()">
        <input type=" text" class="todo-input" name="imputTodo" placeholder="Enter todo..." [(ngModel)]="inputTodo" />
        <input type="submit" class="todo-submit" value="Add" />
    </form>
    <div *ngFor="let todo of todos; let i = index">

        <div *ngIf="all; else elseBlock">
            <div (click)="toggleComplition(i)">
                <app-todo [id]="i" [todo]=todo (newTodoEvent)="removeTodo($event)"></app-todo>
            </div>
        </div>
        <ng-template #elseBlock>
            <div *ngIf="todo.completed == true">
                <div (click)="toggleComplition(i)">
                    <app-todo [id]="i" [todo]=todo (newTodoEvent)="removeTodo($event)"></app-todo>
                </div>
            </div>
        </ng-template>
    </div>
</div>