@import url('https://fonts.googleapis.com/css?family=Raleway')

.header
    background-color: #f05050f1
    width: 100%
    height: 15%
    position: relative

    h1
        font-family: 'Raleway'
        letter-spacing: 3px
        margin: 0 auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: #ffff
        font-size: 38px
        @media only screen and (max-width: 768px)
            font-size: 42px
