.app
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 60vw
    height: 75vh
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7))

    @media only screen and (max-width: 768px)
        width: 100vw
        height: 100vh
